body {
    transition-duration: 1s !important;
    background-color: rgb(213, 213, 213) !important;
    overflow-x: hidden;
}







/* nav */
.nav,
.navbar {
    background-color: rgb(235, 235, 235) !important;
    padding-left: 10px !important;

    transition-duration: 0.5s !important;
    opacity: 0.4;
}

.nav:hover,
.navbar:hover {
    opacity: 1 !important;
}



.btnnd {

    display: inline !important;
    text-align: center !important;
}

.btnn {
    background-color: rgba(88, 80, 80, 0) !important;
    border-color: gray !important;
    color: gray !important;

}

.btnn:hover {
    background-color: black !important;
    border-color: rgba(213, 203, 183, 255) !important;
    color: white !important;
}

.logb:hover {
    background-color: rgb(44, 60, 245) !important;
}

.image {
    border: 1px solid gray;
    border-radius: 100%;
}

.btnnsearch {
    border-color: gray !important;
    color: gray !important;
}

.btnnsearch:hover {
    background-color: green !important;
    border-color: green !important;
    color: white !important;
}

.iconn {
    text-align: center;
    font-size: 60px;
    margin-bottom: 10%;
    transition: 0.2s;
}

.fst {
    margin-top: 5%;
}

.iconn:hover {
    font-size: 70px;
    margin-bottom: 6%;
}

.smedia {
    text-decoration: none !important;
}

.icon:hover+.titlemedia {
    font-size: 40px !important;
}

.cimg {
    width: 100%;
    height: 100vh;
    filter: blur(1px);
    filter: grayscale(100%);
    transition-duration: 0.5s;
}

.carousel-item:hover .cimg {
    filter: grayscale(0%);
}

.x {
    height: 100vh !important;
    width: 100%;
    overflow-wrap: normal;
}



/* carousel */

.qheader {
    color: rgb(167, 125, 47) !important;
    font-size: 32px !important;
}

.btnli {
    background-color: black !important;
}

.exit:hover {
    color: black !important;
}

.box {
    width: 60%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10%;
    margin: auto;
    text-align: center;

}


/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 0px;

}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(216, 216, 216);
    border-radius: 2px;

}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(199, 199, 199);
    border-radius: 2px;

}



/* about us */

.us {
    height: 40vh;

}

.ustext {
    overflow: auto;
    height: 165px;

    scroll-behavior: smooth;

}

.usborder {
    border: 2px solid black;
    border-radius: 7px;
    height: 180px;
    padding: 10px;

}

.boxe {
    box-shadow: 0px 0px 20px 1px !important;
}


.ussep {
    height: 120px;
    text-align: center;
    padding: 20px;
}

.ussep h2 {
    transition-duration: 0.2s;
    font-size: 60px !important;
    position: relative;
}

.ussep .h2d {
    transition-duration: 0.2s;
    font-size: 60px !important;
    position: relative;
    height: 80px;
}

.ussep .h2d::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 1;
    left: 50%;
    bottom: 0px;
    background-color: gray;
    transition-duration: 0.7s;
}

.ussep .h2d:hover::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 4%;
    z-index: 1;
    left: 35%;
    bottom: 0px;
    background-color: rgb(167, 125, 47);
}


.ussep h2:hover {
    font-size: 61px !important;
    color: rgb(167, 125, 47);
    cursor: help;
}

.questions {
    border: 2px solid black;
    padding: 10px 50px !important;
    margin: 100px;
    border-radius: 5px;
    height: 95vh;
    background-color: white;
}

.acccolor {
    color: white !important;
}

.submit {
    margin-top: 10px;
    text-align: center;
}

.test {
    position: relative;
}

.test::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -1;
    right: -100px;
    top: -50px;
    background-color: rgb(124, 124, 124);
}

.test::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -1;
    left: -100px;
    bottom: -50px;
    background-color: rgb(119, 119, 119);
}


.separator {
    background-image: url(../images/Massimo\ Dutti_\ Men’s\ Edit\ _\ Map\ for\ Tomorrow.jpeg);
    background-attachment: fixed;
    height: 30vh;
    background-size: cover;

    filter: grayscale(100%);

}

.separator2 {
    background-image: url(../images/27aaa2af-994c-4d8a-8221-c5a3674cbb9b.jpg);
    background-attachment: fixed;
    height: 30vh;
    background-size: cover;


}

.space {
    width: 100%;
    height: 160px;
}

.cardEditText {
    position: relative;
    transition-duration: 0.2s !important;

}

.cardEdit {
    transition-duration: 0.2s;
    box-shadow: 0px 0px 20px 1px !important;
}

.cardEdit:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px 1px !important;
}

.cardEditText::after {
    position: absolute;
    content: "";

    height: 0%;
    width: 0%;

    bottom: 0;
    left: 0;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.26);
    opacity: 1;
}

.cardEditText::before {
    position: absolute;
    content: "";

    height: 0%;
    width: 0%;

    top: 0;
    right: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.411);
    opacity: 1;
}

.cardEdit:hover .cardEditText::after {
    height: 100%;
    width: 100%;

}

.cardEdit:hover .cardEditText::before {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#list-item-1,
#list-item-2,
#list-item-3,
#list-item-4 {
    scroll-margin-top: 50vh !important;
}





/* news */

.newsHeader {
    font-size: 43px;

}




.cardMe {
    width: 100%;
    max-height: 60vh;
    overflow: hidden;
    background-color: black;
    padding: 40px;
    border: 10px solid rgb(201, 201, 201);
    color: white;
}

.cardText {
    transition-duration: 0.2s;
}

.cardImage {
    transform: translate(50px, -60px) rotate(7deg);
    transition-duration: 0.2s;
    width: 600px;
    height: 800px;
    ;
}

.cardImage2 {
    transform: translate(-80px, -150px) rotate(-7deg);
    transition-duration: 0.2s;
    width: 500px;
    height: 600px;
}

.cardMe:hover .cardImage {
    transform: translate(46px, -60px) rotate(7deg);
}


.cardMe:hover .cardImage2 {
    transform: translate(-70px, -150px) rotate(-7deg);

}

.cardMe:hover .cardText {
    transform: scale(1.01);
}

#latestNews {
    scroll-margin-top: 50vh;
}

.cardText2 {
    transform: scale(1) !important;
}

.cardMe:hover .cardText2 {
    transform: scale(1.01) !important;
}

.contc {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px !important;
    transition-duration: 0.2s;
}

.outerc {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s;
}


.contc:hover {
    transform: scale(0.95);
}

.outerc:hover {
    transform: scale(1.08);
}

.outerc1,
.outerc2,
.outerc3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outerc1 {
    background-image: url(../images/shorbagy.jpg);
}

.outerc2 {
    background-image: url(../images/zain.jpg);
}

.outerc3 {
    background-image: url(../images/Kimo.jpeg);
}

.innerc {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.326);
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    
}

.innerc h2,
.innerc p {
    font-size: 20px;
    transition-duration: 0.2s;
    opacity: 0;
}
.innerc h2
{
    margin-top: 40px;
}
.innerc:hover p
{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.616);
    opacity: 1;
}
.innerc:hover h2 {
    font-size: 17.5px;
    color: rgba(255, 255, 255, 0.616);
    opacity: 1;
}



.photoc {
    border-radius: 100%;
    width: 45%;
    height: 30%;
    background-color: aqua;
}

.photoc1
{
    background-image: url(../images/shorbagy2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoc2
{
    background-image: url(../images/zain2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoc3
{
    background-image: url(../images/Kimo2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.foot a
{
    text-decoration: none;
}

.foot a:hover
{
    color: rgb(101, 101, 101) !important;
}
.foet
{
    width: 100%;
}



.write::before { 
    content: "|"; 
    animation: anime infinite 0.7s; 
} 
@keyframes anime {
    0%{
        content: "|";
        opacity: 0;
    }

    50%{
        content: "|";
        opacity: 100%;
    }
}

.textanimation
{
    color:rgb(167, 125, 47);
}
.textanimation::before { 
    content: ""; 
    animation: animate infinite 15s; 
    padding-left: 10px; 
} 

@keyframes animate { 
    0%
    {
        content: "";
    }

    2%
    {
        content: "Y";
    }
    4%
    {
        content: "Ya";
    }
    4%
    {
        content: "Yam";
    }
    5%
    {
        content: "Yame";
    }
    6%
    {
        content: "Yamen";
    }
    7%
    {
        content: "Yamen ";
    }
    8%
    {
        content: "Yamen Y";
    }
    9%
    {
        content: "Yamen Ya";
    }
    10%
    {
        content: "Yamen Yas";
    }
    11%
    {
        content: "Yamen Yass";
    }
    12%
    {
        content: "Yamen Yasse";
    }
    13%
    {
        content: "Yamen Yasser";
    }
    87%
    {
        content: "Yamen Yasser";
    }
    88%
    {
        content: "Yamen Yasse";
    }
    89% { 
        content: "Yamen Yass";
    } 
    90%
    {
        content: "Yamen Yass";
    }
    91%
    {
        content: "Yamen Yas";
    }
    92% { 
        content: "Yamen Ya";
    } 
    93%
    {
        content: "Yamen Y";
    }
    94%
    {
        content: "Yamen ";
    }
    95% { 
        content: "Yamen";
    } 
    96%
    {
        content: "Yame";
    }
    97%
    {
        content: "Yam";
    }
    98%
    {
        content: "Ya";
    }
    99%
    {
        content: "Y";
    }
    100%
    {
        content: "";
    }
    
} 
.bodi{
    overflow: auto;
    display: none !important;
}



@media(max-width: 480px) {
.boxo
{
    display: none;
}

    .bodi
{
    display: block !important;
}
.bodi img
{
    width: 300px;
    height: 400px;
}
    .test::after {
        content: "";
        position: absolute;
        width: 0px !important;
        height: 0px !important;
        z-index: -1;
        right: -100px;
        top: -50px;
        background-color: rgb(255, 0, 0);
    }
    
    .test::before {
        content: "";
        position: absolute;
        width: 0px !important;
        height: 0px !important;
        z-index: -1;
        left: -100px;
        bottom: -50px;
        background-color: rgb(255, 0, 0);
    }
    
    .ussep .h2d:hover::before {
        width: 0px;
        height: 0px;
        content: "";
        position: absolute;
        width: 0%;
        height: 0%;
        z-index: 1;
        left: 35%;
        bottom: 0px;
        background-color: rgb(167, 125, 47);
    }
    .ussep .h2d {
        transition-duration: 0.2s;
        font-size: 20px !important;
        position: relative;
        height: 120px;
    }

    .ussep h2 {
        transition-duration: 0.2s;
        font-size: 40px !important;

    }

    .ussep h2:hover {
        transition-duration: 0.2s;
        font-size: 41px !important;

    }

    .questions {
        height: 111vh;
    }

    .test {
        position: relative;
    }

    .test::after {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: -1;
        right: 100px;
        top: 50px;
        background-color: gray;
    }

    .test::before {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: -1;
        left: 100px;
        bottom: 50px;
        background-color: gray;
    }

    
}
